doctype
html
  head
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' type='text/css')
    link(rel='stylesheet' href='/main.css')
  body
    != yield
    script(src='//code.jquery.com/jquery-1.11.3.min.js').
    script(type='text/javascript').
      function toggleCandidate(name) {
        var candidate = $('#' + name);
        var positions = $('.' + name + '-position');
        if (candidate.hasClass('active')) {
          candidate.removeClass('active');
          positions.addClass('inactive');
        } else {
          candidate.addClass('active');
          positions.removeClass('inactive');
        }
      };
      
      function toggleIssues(name) {
        var issue = $('#' + name);
        var issueRow = $('.' + name);
        if (issue.hasClass('active')) {
          issue.removeClass('active');
          issueRow.addClass('row-inactive');
        } else {
          issue.addClass('active');
          issueRow.removeClass('row-inactive');
        }
      };
