doctype
html
  head
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' type='text/css')
    link(rel='stylesheet' href='/main.css')
  body
    != yield
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
