doctype
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' type='text/css')
    link(rel='stylesheet' href='main.css')
  body
    div(class='tax-plans-tool')
      != yield
    script(src='//code.jquery.com/jquery-1.11.3.min.js').
    script(type='text/javascript').
      function showCandidates() {
        if ($('.candidate-list').hasClass('inactive')) {
          $('.candidate-list').removeClass('inactive');
          $('.candidate-toggle').addClass('rotate');
        } else {
          $('.candidate-list').addClass('inactive');
          $('.candidate-toggle').removeClass('rotate');
        }
      }
      
      function showIssues() {
        if ($('.issues-list').hasClass('inactive')) {
          $('.issues-list').removeClass('inactive');
          $('.issue-toggle').addClass('rotate');
        } else {
          $('.issues-list').addClass('inactive');
          $('.issue-toggle').removeClass('rotate');
        }
      }
      
      function toggleCandidate(name) {
        var candidate = $('#' + name);
        var positions = $('.' + name + '-position');
        if (candidate.hasClass('active')) {
          candidate.removeClass('active');
          positions.addClass('inactive');
        } else {
          candidate.addClass('active');
          positions.removeClass('inactive');
        }
      };
      
      function toggleIssues(name) {
        var issue = $('#' + name);
        var issueRow = $('.' + name);
        if (issue.hasClass('active')) {
          issue.removeClass('active');
          issueRow.addClass('row-inactive');
        } else {
          issue.addClass('active');
          issueRow.removeClass('row-inactive');
        }
      };
