h1 2016 Presidential Candidates' Tax Plans
h2 Candidates
ul(class='candidate-list')
  li Jeb Bush
  li Ben Carson
  li Lincoln Chafee
  li Chris Christie
  li Hillary Clinton
  li Ted Cruz
  li Carly Fiorina
  li Lindsey Graham
  li Mike Huckabee
  li Bobby Jindal
  li John Kasich
  li Martin O'Malley
  li George Pataki
  li Rand Paul
  li Rick Perry
  li Marco Rubio
  li Bernie Sanders
  li Rick Santorum
  li Donald Trump
  li Scott Walker
  li Jim Webb
h2 Issues
ul
  li
    ul
      li Rates on Ordinary Income
      li Changes to Itemized Deductions
      li Changes to Credits
      li Changes to Alternative Minimum Tax
      li Rates on Capital Gains and Dividends
  li
    ul
      li Top Rates
      li Capital Expenses
      li International Income
      li Non-corporate Business Income
  li
    ul
      li Payroll Taxes
      li Estate Taxes
      li Other

table
  thead
    tr
      th Issue
      th Plan
  tbody
    tr(id='income-tax-rates')
      td Income Tax - Rates on Ordinary Income
      td
        div(class='candidate-position jeb-bush-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Jeb Bush
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position ben-carson-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Ben Carson
          div(class='candidate-position-text')
            p Establishes a flat rate of 10% to 15% on ordinary income, phased in over time.
        div(class='candidate-position lincoln-chafee-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Lincoln Chafee
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position chris-christie-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Chris Christie
          div(class='candidate-position-text')
            p Establishes three brackets, with a top rate of 28% and a bottom rate of 8%.
        div(class='candidate-position hillary-clinton-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Hillary Clinton
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position ted-cruz-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Ted Cruz
          div(class='candidate-position-text')
            p Establishes a flat rate, at an unspecified level.
        div(class='candidate-position carly-fiorina-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Carly Fiorina
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position lindsay-graham-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Lindsay Graham
          div(class='candidate-position-text')
            p Establishes a flat rate "in the high teens or low twenties."
        div(class='candidate-position mike-huckabee-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Mike Huckabee
          div(class='candidate-position-text')
            p Eliminates the individual income tax. Creates a federal sales tax at a rate of 23%, with monthly rebates for low-income households. This proposal is often referred to as the FairTax, and is equivalent to a rate of 30% on the pre-tax price of goods and services.
        div(class='candidate-position bobby-jindal-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Bobby Jindal
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position john-kasich-position hide')
          div(class='candidate-name')
            img(src='')
            h3 John Kasich
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position martin-omalley-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Martin O'Malley
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position george-pataki-position hide')
          div(class='candidate-name')
            img(src='')
            h3 George Pataki
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position rand-paul-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Establishes a flat rate of 14.5% on all ordinary income. Increases the standard deduction to $15,000 per filer. Increases the personal exemption to $5,000 per person.
        div(class='candidate-position rick-perry-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Rick Perry
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position marco-rubio-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Establishes two brackets of 15% and 35%. The top rate applies to taxable income over $75,000 for single filers and $150,000 for married filers.
        div(class='candidate-position bernie-sanders-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Bernie Sanders
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position rick-santorum-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Rick Santorum
          div(class='candidate-position-text')
            p Establishes a flat rate of 20% on all ordinary income.
        div(class='candidate-position donald-trump-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Donald Trump
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position scott-walker-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Scott Walker
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position jim-webb-position hide')
          div(class='candidate-name')
            img(src='')
            h3 Jim Webb
          div(class='candidate-position-text')
            p No stated position.
    tr(id='income-itemized-deductions')
      td Income Tax - Changes to Itemized Deductions
      td
        div(class='candidate-position jeb-bush-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Jeb Bush
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position ben-carson-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Ben Carson
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position lincoln-chafee-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Lincoln Chafee
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position chris-christie-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Chris Christie
          div(class='candidate-position-text')
            p Eliminates all itemized deductions except for the charitable deduction and the mortgage interest deduction.
        div(class='candidate-position hillary-clinton-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Hillary Clinton
          div(class='candidate-position-text')
            p Caps the tax benefit of itemized deductions at 28% of the deduction.
        div(class='candidate-position ted-cruz-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Ted Cruz
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position carly-fiorina-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Carly Fiorina
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position lindsay-graham-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Lindsay Graham
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position mike-huckabee-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Mike Huckabee
          div(class='candidate-position-text')
            p Eliminates all deductions. Creates a federal sales tax at a rate of 23%, with monthly rebates for low-income households. This proposal is often referred to as the FairTax, and is equivalent to a rate of 30% on the pre-tax price of goods and services.
        div(class='candidate-position bobby-jindal-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Bobby Jindal
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position john-kasich-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 John Kasich
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position martin-omalley-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Martin O'Malley
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position george-pataki-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 George Pataki
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position rand-paul-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Eliminates all itemized deductions except for the charitable deduction and the mortgage interest deduction.
        div(class='candidate-position rick-perry-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Rick Perry
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position marco-rubio-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Eliminates all itemized deductions except for the charitable deduction and the mortgage interest deduction. Caps the mortgage interest deduction at $300,000 of interest payments.
        div(class='candidate-position bernie-sanders-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Bernie Sanders
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position rick-santorum-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Rick Santorum
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position donald-trump-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Donald Trump
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position scott-walker-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Scott Walker
          div(class='candidate-position-text')
            p No stated position.
        div(class='candidate-position jim-webb-position hide')
          div(class='candidate-name')
            img(scr='')
            h3 Jim Webb
          div(class='candidate-position-text')
            p No stated position.
    tr(id='income-changes-credits')
      td Income Tax - Changes to Credits
      td
        div(class='candidate-position rand-paul-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Eliminates all credits except for the earned income tax credit and the child tax credit.
        div(class='candidate-position marco-rubio-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Establishes an additional child credit of $2,500, used to offset income and social security taxes.
            p Replaces the standard deduction, personal exemption, and 10% bracket with a refundable personal credit.
    tr(id='income-changes-amt')
      td Income Tax - Changes to Alternative Minimum Tax
      td
        div(class='candidate-position rand-paul-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Eliminates the alternative minimum tax.
        div(class='candidate-position marco-rubio-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Eliminates the alternative minimum tax.
    tr(id='income-cap-gains-dividends')
      td Income Tax - Rates on Capital Gains and Dividends
      td
        div(class='candidate-position rand-paul-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Lowers the rate on capital gains and dividends income to 14.5%.
        div(class='candidate-position marco-rubio-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Lowers the rate on capital gains and dividends income to 0%.
    tr(id='corporate-tax-rate')
      td Corporate Income Tax - Top Rates
      td
        div(class='candidate-position rand-paul-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Replaces the corporate tax with a 14.5% business transfer tax, which applies to all capital income and labor payments
        div(class='candidate-position marco-rubio-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Lowers the top corporate rate to 25%.
    tr(id='corporate-expensing')
      td Corporate Income Tax - Capital Expenses
      td
        div(class='candidate-position rand-paul-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Moves to full expensing of investment costs.
        div(class='candidate-position marco-rubio-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Moves to full expensing of investment costs.
    tr(id='corporate-international')
      td Corporate Income Tax - International Income
      td
        div(class='candidate-position rand-paul-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Shifts to a territorial tax system.
        div(class='candidate-position marco-rubio-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Shifts to a territorial tax system.
    tr(id='corporate-non-corporate')
      td Corporate Income Tax - Non-corporate Business Income
      td
        div(class='candidate-position rand-paul-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Taxes noncorporate business income at 14.5%.
        div(class='candidate-position marco-rubio-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Taxes noncorporate business income at 25%.
    tr(id='payroll-tax')
      td Payroll Taxes
      td
        div(class='candidate-position rand-paul-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Eliminates the payroll tax.
        div(class='candidate-position marco-rubio-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p
              em No Information
    tr(id='estate-tax')
      td Estate Tax
      td
        div(class='candidate-position rand-paul-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Eliminates the estate tax.
        div(class='candidate-position marco-rubio-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Eliminates the estate tax.
    tr(id='other-tax')
      td Other
      td
        div(class='candidate-position rand-paul-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Rand Paul
          div(class='candidate-position-text')
            p
              em No Information
        div(class='candidate-position marco-rubio-position hid')
          div(class='candidate-name')
            img(src='')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Eliminates the head of household filing status.
            p Removes interest income from the tax base, except for interest received by financial institutions.
