h1 2016 Presidential Candidates' Tax Plans
h2 Candidates
ul(class='candidate-list')
  li Jeb Bush
  li Ben Carson
  li Lincoln Chafee
  li Chris Christie
  li Hillary Clinton
  li Ted Cruz
  li Carly Fiorina
  li Lindsey Graham
  li Mike Huckabee
  li Bobby Jindal
  li John Kasich
  li Martin O'Malley
  li George Pataki
  li Rand Paul
  li Rick Perry
  li Marco Rubio
  li Bernie Sanders
  li Rick Santorum
  li Donald Trump
  li Scott Walker
  li Jim Webb
h2 Issues
ul
  li
    ul
      li Rates on Ordinary Income
      li Changes to Itemized Deductions
      li Changes to Credits
      li Changes to Alternative Minimum Tax
      li Rates on Capital Gains and Dividends
  li
    ul
      li Top Rates
      li Capital Expenses
      li International Income
      li Non-corporate Business Income
  li
    ul
      li Payroll Taxes
      li Estate Taxes
      li Other

table
  thead
    tr
      th Issue
      th Plan
  tbody
    tr
      td Income Tax - Rates on Ordinary Income
      td
        div(class='candidate-position')
          h3 Rand Paul
          div(class='candidate-position-text')
            p Establishes a flat rate of 14.5% on all ordinary income.
            p Increases the standard deduction to $15,000 per filer.
            p Increases the personal exemption to $5,000 per person.
        div(class='candidate-position')
          h3 Marco Rubio
          div(class='candidate-position-text')
            p Establishes two brackets of 15% and 35%.
            p The top rate applies to taxable income over $75,000 for single filers and $150,000 for married filers.
    tr
      td Income Tax - Changes to Itemized Deductions
      td
        div(class='candidate-position')
          h3 Rand Paul
          div(class='candidate-position-text')
            p Eliminates all itemized deductions except for the charitable deduction and the mortgage interest deduction.
        div(class='candidate-position')
          h3 Marco Rubio
          div(class='candidate-position-text')
            p Eliminates all itemized deductions except for the charitable deduction and the mortgage interest deduction.
            p Caps the mortgage interest deduction at $300,000 of interest payments.
    tr
      td Income Tax - Changes to Credits
      td
        div(class='candidate-position')
          h3 Rand Paul
          div(class='candidate-position-text')
            p Eliminates all credits except for the earned income tax credit and the child tax credit.
        div(class='candidate-position')
          h3 Marco Rubio
          div(class='candidate-position-text')
            p Establishes an additional child credit of $2,500, used to offset income and social security taxes.
            p Replaces the standard deduction, personal exemption, and 10% bracket with a refundable personal credit.
    tr
      td Income Tax - Changes to Alternative Minimum Tax
      td
        div(class='candidate-position')
          h3 Rand Paul
          div(class='candidate-position-text')
            p Eliminates the alternative minimum tax.
        div(class='candidate-position')
          h3 Marco Rubio
          div(class='candidate-position-text')
            p Eliminates the alternative minimum tax.
    tr
      td Income Tax - Rates on Capital Gains and Dividends
      td
        div(class='candidate-position')
          h3 Rand Paul
          div(class='candidate-position-text')
            p Lowers the rate on capital gains and dividends income to 14.5%.
        div(class='candidate-position')
          h3 Marco Rubio
          div(class='candidate-position-text')
            p Lowers the rate on capital gains and dividends income to 0%.
    tr
      td Corporate Income Tax - Top Rates
      td
        div(class='candidate-position')
          h3 Rand Paul
          div(class='candidate-position-text')
            p Replaces the corporate tax with a 14.5% business transfer tax, which applies to all capital income and labor payments
        div(class='candidate-position')
          h3 Marco Rubio
          div(class='candidate-position-text')
            p Lowers the top corporate rate to 25%.
    tr
      td Corporate Income Tax - Capital Expenses
      td
        div(class='candidate-position')
          h3 Rand Paul
          div(class='candidate-position-text')
            p Moves to full expensing of investment costs.
        div(class='candidate-position')
          h3 Marco Rubio
          div(class='candidate-position-text')
            p Moves to full expensing of investment costs.
    tr
      td Corporate Income Tax - International Income
      td
        div(class='candidate-position')
          h3 Rand Paul
          div(class='candidate-position-text')
            p Shifts to a territorial tax system.
        div(class='candidate-position')
          h3 Marco Rubio
          div(class='candidate-position-text')
            p Shifts to a territorial tax system.
    tr
      td Corporate Income Tax - Non-corporate Business Income
      td
        div(class='candidate-position')
          h3 Rand Paul
          div(class='candidate-position-text')
            p Taxes noncorporate business income at 14.5%.
        div(class='candidate-position')
          h3 Marco Rubio
          div(class='candidate-position-text')
            p Taxes noncorporate business income at 25%.
    tr
      td Payroll Taxes
      td
        div(class='candidate-position')
          h3 Rand Paul
          div(class='candidate-position-text')
            p Eliminates the payroll tax.
        div(class='candidate-position')
          h3 Marco Rubio
          div(class='candidate-position-text')
            p
              em No Information
    tr
      td Estate Tax
      td
        div(class='candidate-position')
          h3 Rand Paul
          div(class='candidate-position-text')
            p Eliminates the estate tax.
        div(class='candidate-position')
          h3 Marco Rubio
          div(class='candidate-position-text')
            p Eliminates the estate tax.
    tr
      td Other
      td
        div(class='candidate-position')
          h3 Rand Paul
          div(class='candidate-position-text')
            p
              em No Information
        div(class='candidate-position')
          h3 Marco Rubio
          div(class='candidate-position-text')
            p Eliminates the head of household filing status.
            p Removes interest income from the tax base, except for interest received by financial institutions.
