p Tax policy is shaping up to be one of the major issues of the 2016 presidential campaign. Below, we’ve compiled every tax proposal that this season’s presidential candidates have offered during the campaign. This chart will be updated as candidates issue more detailed tax plans in the coming months.
p To learn more about this chart, see #[a(href='http://taxfoundation.org/blog/every-tax-policy-proposal-2016-presidential-candidates-one-chart') this post].
p To select from different candidates and issues, click the blue arrow buttons below to expand the selection menus.
h2(class='category-title') Candidates
  strong(class='toggle candidate-toggle' onclick='showCandidates()') &xwedge;
ul(class='candidate-list')
  li(onclick='toggleCandidate("jeb-bush")' id='jeb-bush') Jeb Bush
  li(onclick='toggleCandidate("ben-carson")' id='ben-carson') Ben Carson
  li(onclick='toggleCandidate("lincoln-chafee")' id='lincoln-chafee') Lincoln Chafee
  li(onclick='toggleCandidate("chris-christie")' id='chris-christie') Chris Christie
  li(onclick='toggleCandidate("hillary-clinton")' id='hillary-clinton' class='active') Hillary Clinton
  li(onclick='toggleCandidate("ted-cruz")' id='ted-cruz') Ted Cruz
  li(onclick='toggleCandidate("carly-fiorina")' id='carly-fiorina') Carly Fiorina
  li(onclick='toggleCandidate("jim-gilmore")' id='jim-gilmore') Jim Gilmore
  li(onclick='toggleCandidate("lindsey-graham")' id='lindsey-graham') Lindsey Graham
  li(onclick='toggleCandidate("mike-huckabee")' id='mike-huckabee') Mike Huckabee
  li(onclick='toggleCandidate("bobby-jindal")' id='bobby-jindal') Bobby Jindal
  li(onclick='toggleCandidate("john-kasich")' id='john-kasich') John Kasich
  li(onclick='toggleCandidate("martin-omalley")' id='martin-omalley') Martin O'Malley
  li(onclick='toggleCandidate("george-pataki")' id='george-pataki') George Pataki
  li(onclick='toggleCandidate("rand-paul")' id='rand-paul' class='active') Rand Paul
  li(onclick='toggleCandidate("rick-perry")' id='rick-perry') Rick Perry
  li(onclick='toggleCandidate("marco-rubio")' id='marco-rubio' class='active') Marco Rubio
  li(onclick='toggleCandidate("bernie-sanders")' id='bernie-sanders' class='active') Bernie Sanders
  li(onclick='toggleCandidate("rick-santorum")' id='rick-santorum') Rick Santorum
  li(onclick='toggleCandidate("donald-trump")' id='donald-trump') Donald Trump
  li(onclick='toggleCandidate("scott-walker")' id='scott-walker') Scott Walker
  li(onclick='toggleCandidate("jim-webb")' id='jim-webb') Jim Webb
  li(onclick='selectAllCandidates()' id='select-all-candidates') Select All
h2(class='category-title') Issues
  strong(class='toggle issue-toggle' onclick='showIssues()') &xwedge;
ul(class='issues-list')
  li
    ul(class='issue-category individual-taxes')
      li(class='issue-item' id='income-tax-rates' onclick='toggleIssues("income-tax-rates")' class='active') Rates on Ordinary Income
      li(class='issue-item' id='income-itemized-deductions' onclick='toggleIssues("income-itemized-deductions")') Itemized Deductions
      li(class='issue-item' id='income-changes-credits' onclick='toggleIssues("income-changes-credits")') Credits
      li(class='issue-item' id='income-changes-amt' onclick='toggleIssues("income-changes-amt")') Alternative Minimum Tax
      li(class='issue-item' id='income-cap-gains-dividends' onclick='toggleIssues("income-cap-gains-dividends")' class='active') Rates on Capital Gains and Dividends
  li
    ul(class='issue-category corporate-taxes')
      li(class='issue-item' id='corporate-tax-rate' onclick='toggleIssues("corporate-tax-rate")' class='active') Rate
      li(class='issue-item' id='corporate-expensing' onclick='toggleIssues("corporate-expensing")') Capital Investment
      li(class='issue-item' id='corporate-international' onclick='toggleIssues("corporate-international")') International Income
      li(class='issue-item' id='corporate-non-corporate' onclick='toggleIssues("corporate-non-corporate")') Pass-through Business Income
  li
    ul(class='issue-category other-taxes')
      li(class='issue-item' id='payroll-tax' onclick='toggleIssues("payroll-tax")') Payroll Taxes
      li(class='issue-item' id='estate-tax' onclick='toggleIssues("estate-tax")' class='active') Estate Tax
      li(class='issue-item' id='other-tax' onclick='toggleIssues("other-tax")') Other Taxes
  li(class='issue-item issue-select-all' onclick='selectAllIssues()') Select All
h2(class='category-title') Candidate Comparison
table
  thead
    tr
      th Issue
      th Plan
  tbody
    tr(class='issue-row income-tax-rates')
      td
        h2 Income Tax: Rates on Ordinary Income
      td
        div(class='candidate-position jeb-bush-position inactive')
          div(class='candidate-name')
            h3 Jeb Bush
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ben-carson-position inactive')
          div(class='candidate-name')
            h3 Ben Carson
          div(class='candidate-position-text')
            p Establishes a flat rate of 10% to 15% on ordinary income, phased in over time.
        div(class='candidate-position lincoln-chafee-position inactive')
          div(class='candidate-name')
            h3 Lincoln Chafee
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position chris-christie-position inactive')
          div(class='candidate-name')
            h3 Chris Christie
          div(class='candidate-position-text')
            p Establishes three brackets, with a top rate of 28% and a bottom rate of 8%.
        div(class='candidate-position hillary-clinton-position')
          div(class='candidate-name')
            h3 Hillary Clinton
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ted-cruz-position inactive')
          div(class='candidate-name')
            h3 Ted Cruz
          div(class='candidate-position-text')
            p Establishes a flat rate, at an unspecified level.
        div(class='candidate-position carly-fiorina-position inactive')
          div(class='candidate-name')
            h3 Carly Fiorina
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-gilmore-position inactive')
          div(class='candidate-name')
            h3 Jim Gilmore
          div(class='candidate-position-text')
            p Establishes three tax brackets, with rates of 10%, 15%, and 20%.
        div(class='candidate-position lindsey-graham-position inactive')
          div(class='candidate-name')
            h3 Lindsey Graham
          div(class='candidate-position-text')
            p Establishes a flat rate "in the high teens or low twenties."
        div(class='candidate-position mike-huckabee-position inactive')
          div(class='candidate-name')
            h3 Mike Huckabee
          div(class='candidate-position-text')
            p Eliminates the individual income tax. Creates a federal sales tax at a rate of 23%, with monthly rebates for low-income households. This proposal is often referred to as the FairTax, and is equivalent to a rate of 30% on the pre-tax price of goods and services.
        div(class='candidate-position bobby-jindal-position inactive')
          div(class='candidate-name')
            h3 Bobby Jindal
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position john-kasich-position inactive')
          div(class='candidate-name')
            h3 John Kasich
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position martin-omalley-position inactive')
          div(class='candidate-name')
            h3 Martin O'Malley
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position george-pataki-position inactive')
          div(class='candidate-name')
            h3 George Pataki
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rand-paul-position')
          div(class='candidate-name')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Establishes a flat rate of 14.5% on all ordinary income. Increases the standard deduction to $15,000 per filer. Increases the personal exemption to $5,000 per person.
        div(class='candidate-position rick-perry-position inactive')
          div(class='candidate-name')
            h3 Rick Perry
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position marco-rubio-position')
          div(class='candidate-name')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Establishes two brackets of 15% and 35%. The top rate applies to taxable income over $75,000 for single filers and $150,000 for joint filers.
        div(class='candidate-position bernie-sanders-position')
          div(class='candidate-name')
            h3 Bernie Sanders
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rick-santorum-position inactive')
          div(class='candidate-name')
            h3 Rick Santorum
          div(class='candidate-position-text')
            p Establishes a flat rate of 20% on all ordinary income.
        div(class='candidate-position donald-trump-position inactive')
          div(class='candidate-name')
            h3 Donald Trump
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position scott-walker-position inactive')
          div(class='candidate-name')
            h3 Scott Walker
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-webb-position inactive')
          div(class='candidate-name')
            h3 Jim Webb
          div(class='candidate-position-text')
            p No specific proposal.
    tr(class='issue-row income-itemized-deductions row-inactive')
      td
        h2 Income Tax: Itemized Deductions
      td
        div(class='candidate-position jeb-bush-position inactive')
          div(class='candidate-name')
            h3 Jeb Bush
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ben-carson-position inactive')
          div(class='candidate-name')
            h3 Ben Carson
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lincoln-chafee-position inactive')
          div(class='candidate-name')
            h3 Lincoln Chafee
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position chris-christie-position inactive')
          div(class='candidate-name')
            h3 Chris Christie
          div(class='candidate-position-text')
            p Eliminates all itemized deductions except for the charitable deduction and the mortgage interest deduction.
        div(class='candidate-position hillary-clinton-position')
          div(class='candidate-name')
            h3 Hillary Clinton
          div(class='candidate-position-text')
            p Caps the tax benefit of itemized deductions at 28% of the deduction.
        div(class='candidate-position ted-cruz-position inactive')
          div(class='candidate-name')
            h3 Ted Cruz
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position carly-fiorina-position inactive')
          div(class='candidate-name')
            h3 Carly Fiorina
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-gilmore-position inactive')
          div(class='candidate-name')
            h3 Jim Gilmore
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lindsey-graham-position inactive')
          div(class='candidate-name')
            h3 Lindsey Graham
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position mike-huckabee-position inactive')
          div(class='candidate-name')
            h3 Mike Huckabee
          div(class='candidate-position-text')
            p Eliminates all deductions. Creates a federal sales tax at a rate of 23%, with monthly rebates for low-income households. This proposal is often referred to as the FairTax, and is equivalent to a rate of 30% on the pre-tax price of goods and services.
        div(class='candidate-position bobby-jindal-position inactive')
          div(class='candidate-name')
            h3 Bobby Jindal
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position john-kasich-position inactive')
          div(class='candidate-name')
            h3 John Kasich
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position martin-omalley-position inactive')
          div(class='candidate-name')
            h3 Martin O'Malley
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position george-pataki-position inactive')
          div(class='candidate-name')
            h3 George Pataki
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rand-paul-position')
          div(class='candidate-name')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Eliminates all itemized deductions except for the charitable deduction and the mortgage interest deduction.
        div(class='candidate-position rick-perry-position inactive')
          div(class='candidate-name')
            h3 Rick Perry
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position marco-rubio-position')
          div(class='candidate-name')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Eliminates all itemized deductions except for the charitable deduction and the mortgage interest deduction. Caps the mortgage interest deduction at $300,000 of interest payments.
        div(class='candidate-position bernie-sanders-position')
          div(class='candidate-name')
            h3 Bernie Sanders
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rick-santorum-position inactive')
          div(class='candidate-name')
            h3 Rick Santorum
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position donald-trump-position inactive')
          div(class='candidate-name')
            h3 Donald Trump
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position scott-walker-position inactive')
          div(class='candidate-name')
            h3 Scott Walker
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-webb-position inactive')
          div(class='candidate-name')
            h3 Jim Webb
          div(class='candidate-position-text')
            p No specific proposal.
    tr(class='issue-row income-changes-credits row-inactive')
      td
        h2 Income Tax: Credits
      td
        div(class='candidate-position jeb-bush-position inactive')
          div(class='candidate-name')
            h3 Jeb Bush
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ben-carson-position inactive')
          div(class='candidate-name')
            h3 Ben Carson
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lincoln-chafee-position inactive')
          div(class='candidate-name')
            h3 Lincoln Chafee
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position chris-christie-position inactive')
          div(class='candidate-name')
            h3 Chris Christie
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position hillary-clinton-position')
          div(class='candidate-name')
            h3 Hillary Clinton
          div(class='candidate-position-text')
            p Makes the American Opportunity Tax Credit permanent.
        div(class='candidate-position ted-cruz-position inactive')
          div(class='candidate-name')
            h3 Ted Cruz
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position carly-fiorina-position inactive')
          div(class='candidate-name')
            h3 Carly Fiorina
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-gilmore-position inactive')
          div(class='candidate-name')
            h3 Jim Gilmore
          div(class='candidate-position-text')
            p Establishes a family tax credit of $4,300 forall households living in poverty.
        div(class='candidate-position lindsey-graham-position inactive')
          div(class='candidate-name')
            h3 Lindsey Graham
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position mike-huckabee-position inactive')
          div(class='candidate-name')
            h3 Mike Huckabee
          div(class='candidate-position-text')
            p Eliminates all credits. Creates a federal sales tax at a rate of 23%, with monthly rebates for low-income households. This proposal is often referred to as the FairTax, and is equivalent to a rate of 30% on the pre-tax price of goods and services.
        div(class='candidate-position bobby-jindal-position inactive')
          div(class='candidate-name')
            h3 Bobby Jindal
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position john-kasich-position inactive')
          div(class='candidate-name')
            h3 John Kasich
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position martin-omalley-position inactive')
          div(class='candidate-name')
            h3 Martin O'Malley
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position george-pataki-position inactive')
          div(class='candidate-name')
            h3 George Pataki
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rand-paul-position')
          div(class='candidate-name')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Eliminates all credits except for the earned income tax credit and the child tax credit.
        div(class='candidate-position rick-perry-position inactive')
          div(class='candidate-name')
            h3 Rick Perry
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position marco-rubio-position')
          div(class='candidate-name')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Establishes an additional child credit of $2,500, used to offset income and payroll taxes. Replaces the standard deduction, personal exemption, and 10% bracket with a refundable personal credit.
        div(class='candidate-position bernie-sanders-position')
          div(class='candidate-name')
            h3 Bernie Sanders
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rick-santorum-position inactive')
          div(class='candidate-name')
            h3 Rick Santorum
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position donald-trump-position inactive')
          div(class='candidate-name')
            h3 Donald Trump
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position scott-walker-position inactive')
          div(class='candidate-name')
            h3 Scott Walker
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-webb-position inactive')
          div(class='candidate-name')
            h3 Jim Webb
          div(class='candidate-position-text')
            p No specific proposal.
    tr(class='issue-row income-changes-amt row-inactive')
      td
        h2 Income Tax: Alternative Minimum Tax
      td
        div(class='candidate-position jeb-bush-position inactive')
          div(class='candidate-name')
            h3 Jeb Bush
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ben-carson-position inactive')
          div(class='candidate-name')
            h3 Ben Carson
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lincoln-chafee-position inactive')
          div(class='candidate-name')
            h3 Lincoln Chafee
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position chris-christie-position inactive')
          div(class='candidate-name')
            h3 Chris Christie
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position hillary-clinton-position')
          div(class='candidate-name')
            h3 Hillary Clinton
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ted-cruz-position inactive')
          div(class='candidate-name')
            h3 Ted Cruz
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position carly-fiorina-position inactive')
          div(class='candidate-name')
            h3 Carly Fiorina
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-gilmore-position inactive')
          div(class='candidate-name')
            h3 Jim Gilmore
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lindsey-graham-position inactive')
          div(class='candidate-name')
            h3 Lindsey Graham
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position mike-huckabee-position inactive')
          div(class='candidate-name')
            h3 Mike Huckabee
          div(class='candidate-position-text')
            p Eliminates the alternate minimum tax. Creates a federal sales tax at a rate of 23%, with monthly rebates for low-income households. This proposal is often referred to as the FairTax, and is equivalent to a rate of 30% on the pre-tax price of goods and services.
        div(class='candidate-position bobby-jindal-position inactive')
          div(class='candidate-name')
            h3 Bobby Jindal
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position john-kasich-position inactive')
          div(class='candidate-name')
            h3 John Kasich
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position martin-omalley-position inactive')
          div(class='candidate-name')
            h3 Martin O'Malley
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position george-pataki-position inactive')
          div(class='candidate-name')
            h3 George Pataki
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rand-paul-position')
          div(class='candidate-name')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Eliminates the alternative minimum tax.
        div(class='candidate-position rick-perry-position inactive')
          div(class='candidate-name')
            h3 Rick Perry
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position marco-rubio-position')
          div(class='candidate-name')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Eliminates the alternative minimum tax.
        div(class='candidate-position bernie-sanders-position')
          div(class='candidate-name')
            h3 Bernie Sanders
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rick-santorum-position inactive')
          div(class='candidate-name')
            h3 Rick Santorum
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position donald-trump-position inactive')
          div(class='candidate-name')
            h3 Donald Trump
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position scott-walker-position inactive')
          div(class='candidate-name')
            h3 Scott Walker
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-webb-position inactive')
          div(class='candidate-name')
            h3 Jim Webb
          div(class='candidate-position-text')
            p No specific proposal.
    tr(class='issue-row income-cap-gains-dividends')
      td
        h2 Income Tax: Rates on Capital Gains and Dividends
      td
        div(class='candidate-position jeb-bush-position inactive')
          div(class='candidate-name')
            h3 Jeb Bush
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ben-carson-position inactive')
          div(class='candidate-name')
            h3 Ben Carson
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lincoln-chafee-position inactive')
          div(class='candidate-name')
            h3 Lincoln Chafee
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position chris-christie-position inactive')
          div(class='candidate-name')
            h3 Chris Christie
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position hillary-clinton-position')
          div(class='candidate-name')
            h3 Hillary Clinton
          div(class='candidate-position-text')
            p Raises rates on medium-term capital gains (investments held for less than six years) to between 24% and 39.6%.
        div(class='candidate-position ted-cruz-position inactive')
          div(class='candidate-name')
            h3 Ted Cruz
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position carly-fiorina-position inactive')
          div(class='candidate-name')
            h3 Carly Fiorina
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-gilmore-position inactive')
          div(class='candidate-name')
            h3 Jim Gilmore
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lindsey-graham-position inactive')
          div(class='candidate-name')
            h3 Lindsey Graham
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position mike-huckabee-position inactive')
          div(class='candidate-name')
            h3 Mike Huckabee
          div(class='candidate-position-text')
            p Eliminates taxes on capital gains and dividends income. Creates a federal sales tax at a rate of 23%, with monthly rebates for low-income households. This proposal is often referred to as the FairTax, and is equivalent to a rate of 30% on the pre-tax price of goods and services.
        div(class='candidate-position bobby-jindal-position inactive')
          div(class='candidate-name')
            h3 Bobby Jindal
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position john-kasich-position inactive')
          div(class='candidate-name')
            h3 John Kasich
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position martin-omalley-position inactive')
          div(class='candidate-name')
            h3 Martin O'Malley
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position george-pataki-position inactive')
          div(class='candidate-name')
            h3 George Pataki
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rand-paul-position')
          div(class='candidate-name')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Lowers the rate on capital gains and dividends income to 14.5%.
        div(class='candidate-position rick-perry-position inactive')
          div(class='candidate-name')
            h3 Rick Perry
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position marco-rubio-position')
          div(class='candidate-name')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Lowers the rate on capital gains and dividends income to 0%.
        div(class='candidate-position bernie-sanders-position')
          div(class='candidate-name')
            h3 Bernie Sanders
          div(class='candidate-position-text')
            p Increases the net investment income surtax to 10%.
        div(class='candidate-position rick-santorum-position inactive')
          div(class='candidate-name')
            h3 Rick Santorum
          div(class='candidate-position-text')
            p Retains a 20% rate on capital gains and dividends income.
        div(class='candidate-position donald-trump-position inactive')
          div(class='candidate-name')
            h3 Donald Trump
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position scott-walker-position inactive')
          div(class='candidate-name')
            h3 Scott Walker
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-webb-position inactive')
          div(class='candidate-name')
            h3 Jim Webb
          div(class='candidate-position-text')
            p No specific proposal.
    tr(class='issue-row corporate-tax-rate')
      td
        h2 Corporate Income Tax: Rate
      td
        div(class='candidate-position jeb-bush-position inactive')
          div(class='candidate-name')
            h3 Jeb Bush
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ben-carson-position inactive')
          div(class='candidate-name')
            h3 Ben Carson
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lincoln-chafee-position inactive')
          div(class='candidate-name')
            h3 Lincoln Chafee
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position chris-christie-position inactive')
          div(class='candidate-name')
            h3 Chris Christie
          div(class='candidate-position-text')
            p Lowers the top corporate rate to 25%.
        div(class='candidate-position hillary-clinton-position')
          div(class='candidate-name')
            h3 Hillary Clinton
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ted-cruz-position inactive')
          div(class='candidate-name')
            h3 Ted Cruz
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position carly-fiorina-position inactive')
          div(class='candidate-name')
            h3 Carly Fiorina
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-gilmore-position inactive')
          div(class='candidate-name')
            h3 Jim Gilmore
          div(class='candidate-position-text')
            p Lowers the top corporate rate to 15%.
        div(class='candidate-position lindsey-graham-position inactive')
          div(class='candidate-name')
            h3 Lindsey Graham
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position mike-huckabee-position inactive')
          div(class='candidate-name')
            h3 Mike Huckabee
          div(class='candidate-position-text')
            p Eliminates the corporate income tax. Creates a federal sales tax at a rate of 23%, with monthly rebates for low-income households. This proposal is often referred to as the FairTax, and is equivalent to a rate of 30% on the pre-tax price of goods and services.
        div(class='candidate-position bobby-jindal-position inactive')
          div(class='candidate-name')
            h3 Bobby Jindal
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position john-kasich-position inactive')
          div(class='candidate-name')
            h3 John Kasich
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position martin-omalley-position inactive')
          div(class='candidate-name')
            h3 Martin O'Malley
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position george-pataki-position inactive')
          div(class='candidate-name')
            h3 George Pataki
          div(class='candidate-position-text')
            p Lowers the top corporate rate to 24%. Lowers the top rate on manufacturers to 12%.
        div(class='candidate-position rand-paul-position')
          div(class='candidate-name')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Replaces the corporate tax with a 14.5% business transfer tax, which applies to all capital income and labor payments.
        div(class='candidate-position rick-perry-position inactive')
          div(class='candidate-name')
            h3 Rick Perry
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position marco-rubio-position')
          div(class='candidate-name')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Lowers the top corporate rate to 25%.
        div(class='candidate-position bernie-sanders-position')
          div(class='candidate-name')
            h3 Bernie Sanders
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rick-santorum-position inactive')
          div(class='candidate-name')
            h3 Rick Santorum
          div(class='candidate-position-text')
            p Lowers the top corporate rate to 20%. Lowers the rate for manufacturing corporations to 0%, raising it gradually afterword.
        div(class='candidate-position donald-trump-position inactive')
          div(class='candidate-name')
            h3 Donald Trump
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position scott-walker-position inactive')
          div(class='candidate-name')
            h3 Scott Walker
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-webb-position inactive')
          div(class='candidate-name')
            h3 Jim Webb
          div(class='candidate-position-text')
            p No specific proposal.
    tr(class='issue-row corporate-expensing row-inactive')
      td
        h2 Corporate Income Tax: Capital Investment
      td
        div(class='candidate-position jeb-bush-position inactive')
          div(class='candidate-name')
            h3 Jeb Bush
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ben-carson-position inactive')
          div(class='candidate-name')
            h3 Ben Carson
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lincoln-chafee-position inactive')
          div(class='candidate-name')
            h3 Lincoln Chafee
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position chris-christie-position inactive')
          div(class='candidate-name')
            h3 Chris Christie
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position hillary-clinton-position')
          div(class='candidate-name')
            h3 Hillary Clinton
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ted-cruz-position inactive')
          div(class='candidate-name')
            h3 Ted Cruz
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position carly-fiorina-position inactive')
          div(class='candidate-name')
            h3 Carly Fiorina
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-gilmore-position inactive')
          div(class='candidate-name')
            h3 Jim Gilmore
          div(class='candidate-position-text')
            p Moves to full expensing of investment costs.
        div(class='candidate-position lindsey-graham-position inactive')
          div(class='candidate-name')
            h3 Lindsey Graham
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position mike-huckabee-position inactive')
          div(class='candidate-name')
            h3 Mike Huckabee
          div(class='candidate-position-text')
            p Eliminates the corporate income tax. Creates a federal sales tax at a rate of 23%, with monthly rebates for low-income households. This proposal is often referred to as the FairTax, and is equivalent to a rate of 30% on the pre-tax price of goods and services.
        div(class='candidate-position bobby-jindal-position inactive')
          div(class='candidate-name')
            h3 Bobby Jindal
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position john-kasich-position inactive')
          div(class='candidate-name')
            h3 John Kasich
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position martin-omalley-position inactive')
          div(class='candidate-name')
            h3 Martin O'Malley
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position george-pataki-position inactive')
          div(class='candidate-name')
            h3 George Pataki
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rand-paul-position')
          div(class='candidate-name')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Moves to full expensing of investment costs.
        div(class='candidate-position rick-perry-position inactive')
          div(class='candidate-name')
            h3 Rick Perry
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position marco-rubio-position')
          div(class='candidate-name')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Moves to full expensing of investment costs.
        div(class='candidate-position bernie-sanders-position')
          div(class='candidate-name')
            h3 Bernie Sanders
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rick-santorum-position inactive')
          div(class='candidate-name')
            h3 Rick Santorum
          div(class='candidate-position-text')
            p Moves to full expensing of investment costs.
        div(class='candidate-position donald-trump-position inactive')
          div(class='candidate-name')
            h3 Donald Trump
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position scott-walker-position inactive')
          div(class='candidate-name')
            h3 Scott Walker
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-webb-position inactive')
          div(class='candidate-name')
            h3 Jim Webb
          div(class='candidate-position-text')
            p No specific proposal.
    tr(class='issue-row corporate-international row-inactive')
      td
        h2 Corporate Income Tax: International Income
      td
        div(class='candidate-position jeb-bush-position inactive')
          div(class='candidate-name')
            h3 Jeb Bush
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ben-carson-position inactive')
          div(class='candidate-name')
            h3 Ben Carson
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lincoln-chafee-position inactive')
          div(class='candidate-name')
            h3 Lincoln Chafee
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position chris-christie-position inactive')
          div(class='candidate-name')
            h3 Chris Christie
          div(class='candidate-position-text')
            p Enacts a deemed repatriation of foreign income at an 8.75% rate.
        div(class='candidate-position hillary-clinton-position')
          div(class='candidate-name')
            h3 Hillary Clinton
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ted-cruz-position inactive')
          div(class='candidate-name')
            h3 Ted Cruz
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position carly-fiorina-position inactive')
          div(class='candidate-name')
            h3 Carly Fiorina
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-gilmore-position inactive')
          div(class='candidate-name')
            h3 Jim Gilmore
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lindsey-graham-position inactive')
          div(class='candidate-name')
            h3 Lindsey Graham
          div(class='candidate-position-text')
            p Enacts a deemed repatriation of foreign income at a rate around 10%.
        div(class='candidate-position mike-huckabee-position inactive')
          div(class='candidate-name')
            h3 Mike Huckabee
          div(class='candidate-position-text')
            p Eliminates taxes on international income. Creates a federal sales tax at a rate of 23%, with monthly rebates for low-income households. This proposal is often referred to as the FairTax, and is equivalent to a rate of 30% on the pre-tax price of goods and services.
        div(class='candidate-position bobby-jindal-position inactive')
          div(class='candidate-name')
            h3 Bobby Jindal
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position john-kasich-position inactive')
          div(class='candidate-name')
            h3 John Kasich
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position martin-omalley-position inactive')
          div(class='candidate-name')
            h3 Martin O'Malley
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position george-pataki-position inactive')
          div(class='candidate-name')
            h3 George Pataki
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rand-paul-position')
          div(class='candidate-name')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Shifts to a territorial tax system.
        div(class='candidate-position rick-perry-position inactive')
          div(class='candidate-name')
            h3 Rick Perry
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position marco-rubio-position')
          div(class='candidate-name')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Shifts to a territorial tax system and enacts a deemed repatriation of foreign income at a 6% rate.
        div(class='candidate-position bernie-sanders-position')
          div(class='candidate-name')
            h3 Bernie Sanders
          div(class='candidate-position-text')
            p Ends the deferral of tax on foreign income. Creates several limits on the foreign tax credit. Revises rules about corporate inversions and foreign corporations operating domestically.
        div(class='candidate-position rick-santorum-position inactive')
          div(class='candidate-name')
            h3 Rick Santorum
          div(class='candidate-position-text')
            p Enacts a deemed repatriation of foreign income at a 5% rate.
        div(class='candidate-position donald-trump-position inactive')
          div(class='candidate-name')
            h3 Donald Trump
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position scott-walker-position inactive')
          div(class='candidate-name')
            h3 Scott Walker
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-webb-position inactive')
          div(class='candidate-name')
            h3 Jim Webb
          div(class='candidate-position-text')
            p No specific proposal.
    tr(class='issue-row corporate-non-corporate row-inactive')
      td
        h2 Corporate Income Tax: Pass-through Business Income
      td
        div(class='candidate-position jeb-bush-position inactive')
          div(class='candidate-name')
            h3 Jeb Bush
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position ben-carson-position inactive')
          div(class='candidate-name')
            h3 Ben Carson
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position lincoln-chafee-position inactive')
          div(class='candidate-name')
            h3 Lincoln Chafee
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position chris-christie-position inactive')
          div(class='candidate-name')
            h3 Chris Christie
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position hillary-clinton-position')
          div(class='candidate-name')
            h3 Hillary Clinton
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position ted-cruz-position inactive')
          div(class='candidate-name')
            h3 Ted Cruz
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position carly-fiorina-position inactive')
          div(class='candidate-name')
            h3 Carly Fiorina
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position jim-gilmore-position inactive')
          div(class='candidate-name')
            h3 Jim Gilmore
          div(class='candidate-position-text')
            p Taxes pass-through business income at 15%.
        div(class='candidate-position lindsey-graham-position inactive')
          div(class='candidate-name')
            h3 Lindsey Graham
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position mike-huckabee-position inactive')
          div(class='candidate-name')
            h3 Mike Huckabee
            div(class='candidate-position-text')
              p Eliminates taxes on pass-through business income. Creates a federal sales tax at a rate of 23%, with monthly rebates for low-income households. This proposal is often referred to as the FairTax, and is equivalent to a rate of 30% on the pre-tax price of goods and services.
        div(class='candidate-position bobby-jindal-position inactive')
          div(class='candidate-name')
            h3 Bobby Jindal
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position john-kasich-position inactive')
          div(class='candidate-name')
            h3 John Kasich
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position martin-omalley-position inactive')
          div(class='candidate-name')
            h3 Martin O'Malley
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position george-pataki-position inactive')
          div(class='candidate-name')
            h3 George Pataki
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position rand-paul-position')
          div(class='candidate-name')
            h3 Rand Paul
            div(class='candidate-position-text')
              p Taxes pass-through business income at 14.5%.
        div(class='candidate-position rick-perry-position inactive')
          div(class='candidate-name')
            h3 Rick Perry
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position marco-rubio-position')
          div(class='candidate-name')
            h3 Marco Rubio
            div(class='candidate-position-text')
              p Taxes pass-through business income at 25%.
        div(class='candidate-position bernie-sanders-position')
          div(class='candidate-name')
            h3 Bernie Sanders
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position rick-santorum-position inactive')
          div(class='candidate-name')
            h3 Rick Santorum
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position donald-trump-position inactive')
          div(class='candidate-name')
            h3 Donald Trump
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position scott-walker-position inactive')
          div(class='candidate-name')
            h3 Scott Walker
            div(class='candidate-position-text')
              p No specific proposal.
        div(class='candidate-position jim-webb-position inactive')
          div(class='candidate-name')
            h3 Jim Webb
            div(class='candidate-position-text')
              p No specific proposal.
    tr(class='issue-row payroll-tax row-inactive')
      td
        h2 Payroll Taxes
      td
        div(class='candidate-position jeb-bush-position inactive')
          div(class='candidate-name')
            h3 Jeb Bush
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ben-carson-position inactive')
          div(class='candidate-name')
            h3 Ben Carson
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lincoln-chafee-position inactive')
          div(class='candidate-name')
            h3 Lincoln Chafee
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position chris-christie-position inactive')
          div(class='candidate-name')
            h3 Chris Christie
          div(class='candidate-position-text')
            p Eliminates the payroll tax for workers over 62 and under 25.
        div(class='candidate-position hillary-clinton-position')
          div(class='candidate-name')
            h3 Hillary Clinton
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ted-cruz-position inactive')
          div(class='candidate-name')
            h3 Ted Cruz
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position carly-fiorina-position inactive')
          div(class='candidate-name')
            h3 Carly Fiorina
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-gilmore-position inactive')
          div(class='candidate-name')
            h3 Jim Gilmore
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lindsey-graham-position inactive')
          div(class='candidate-name')
            h3 Lindsey Graham
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position mike-huckabee-position inactive')
          div(class='candidate-name')
            h3 Mike Huckabee
          div(class='candidate-position-text')
            p Eliminates payroll taxes. Creates a federal sales tax at a rate of 23%, with monthly rebates for low-income households. This proposal is often referred to as the FairTax, and is equivalent to a rate of 30% on the pre-tax price of goods and services.
        div(class='candidate-position bobby-jindal-position inactive')
          div(class='candidate-name')
            h3 Bobby Jindal
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position john-kasich-position inactive')
          div(class='candidate-name')
            h3 John Kasich
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position martin-omalley-position inactive')
          div(class='candidate-name')
            h3 Martin O'Malley
          div(class='candidate-position-text')
            p Applies the Social Security payroll tax to earnings over $250,000.
        div(class='candidate-position george-pataki-position inactive')
          div(class='candidate-name')
            h3 George Pataki
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rand-paul-position')
          div(class='candidate-name')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Eliminates the payroll tax.
        div(class='candidate-position rick-perry-position inactive')
          div(class='candidate-name')
            h3 Rick Perry
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position marco-rubio-position')
          div(class='candidate-name')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Eliminates the additional Medicare tax on compensation over $200,000.
        div(class='candidate-position bernie-sanders-position')
          div(class='candidate-name')
            h3 Bernie Sanders
          div(class='candidate-position-text')
            p Applies the Social Security payroll tax to earnings over $250,000.
        div(class='candidate-position rick-santorum-position inactive')
          div(class='candidate-name')
            h3 Rick Santorum
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position donald-trump-position inactive')
          div(class='candidate-name')
            h3 Donald Trump
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position scott-walker-position inactive')
          div(class='candidate-name')
            h3 Scott Walker
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-webb-position inactive')
          div(class='candidate-name')
            h3 Jim Webb
          div(class='candidate-position-text')
            p No specific proposal.
    tr(class='issue-row estate-tax')
      td
        h2 Estate Tax
      td
        div(class='candidate-position jeb-bush-position inactive')
          div(class='candidate-name')
            h3 Jeb Bush
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ben-carson-position inactive')
          div(class='candidate-name')
            h3 Ben Carson
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lincoln-chafee-position inactive')
          div(class='candidate-name')
            h3 Lincoln Chafee
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position chris-christie-position inactive')
          div(class='candidate-name')
            h3 Chris Christie
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position hillary-clinton-position')
          div(class='candidate-name')
            h3 Hillary Clinton
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ted-cruz-position inactive')
          div(class='candidate-name')
            h3 Ted Cruz
          div(class='candidate-position-text')
            p Eliminates the estate tax.
        div(class='candidate-position carly-fiorina-position inactive')
          div(class='candidate-name')
            h3 Carly Fiorina
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-gilmore-position inactive')
          div(class='candidate-name')
            h3 Jim Gilmore
          div(class='candidate-position-text')
            p Eliminates the estate tax.
        div(class='candidate-position lindsey-graham-position inactive')
          div(class='candidate-name')
            h3 Lindsey Graham
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position mike-huckabee-position inactive')
          div(class='candidate-name')
            h3 Mike Huckabee
          div(class='candidate-position-text')
            p Eliminates the estate tax. Creates a federal sales tax at a rate of 23%, with monthly rebates for low-income households. This proposal is often referred to as the FairTax, and is equivalent to a rate of 30% on the pre-tax price of goods and services.
        div(class='candidate-position bobby-jindal-position inactive')
          div(class='candidate-name')
            h3 Bobby Jindal
          div(class='candidate-position-text')
            p Eliminates the estate tax.
        div(class='candidate-position john-kasich-position inactive')
          div(class='candidate-name')
            h3 John Kasich
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position martin-omalley-position inactive')
          div(class='candidate-name')
            h3 Martin O'Malley
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position george-pataki-position inactive')
          div(class='candidate-name')
            h3 George Pataki
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rand-paul-position')
          div(class='candidate-name')
            h3 Rand Paul
          div(class='candidate-position-text')
            p Eliminates the estate tax.
        div(class='candidate-position rick-perry-position inactive')
          div(class='candidate-name')
            h3 Rick Perry
          div(class='candidate-position-text')
            p Eliminates the estate tax.
        div(class='candidate-position marco-rubio-position')
          div(class='candidate-name')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Eliminates the estate tax.
        div(class='candidate-position bernie-sanders-position')
          div(class='candidate-name')
            h3 Bernie Sanders
          div(class='candidate-position-text')
            p Increases the top estate tax rate to 65%, and lowers the estate tax exclusion to $3.5 million.
        div(class='candidate-position rick-santorum-position inactive')
          div(class='candidate-name')
            h3 Rick Santorum
          div(class='candidate-position-text')
            p Eliminates the estate tax.
        div(class='candidate-position donald-trump-position inactive')
          div(class='candidate-name')
            h3 Donald Trump
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position scott-walker-position inactive')
          div(class='candidate-name')
            h3 Scott Walker
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-webb-position inactive')
          div(class='candidate-name')
            h3 Jim Webb
          div(class='candidate-position-text')
            p No specific proposal.
    tr(class='issue-row other-tax row-inactive')
      td
        h2 Other Taxes
      td
        div(class='candidate-position jeb-bush-position inactive')
          div(class='candidate-name')
            h3 Jeb Bush
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position ben-carson-position inactive')
          div(class='candidate-name')
            h3 Ben Carson
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lincoln-chafee-position inactive')
          div(class='candidate-name')
            h3 Lincoln Chafee
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position chris-christie-position inactive')
          div(class='candidate-name')
            h3 Chris Christie
          div(class='candidate-position-text')
            p Makes the research and development tax credit permanent.
        div(class='candidate-position hillary-clinton-position')
          div(class='candidate-name')
            h3 Hillary Clinton
          div(class='candidate-position-text')
            p Establishes business tax credits for profit-sharing and apprenticeships.
            p Taxes carried interest at ordinary income rates.
        div(class='candidate-position ted-cruz-position inactive')
          div(class='candidate-name')
            h3 Ted Cruz
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position carly-fiorina-position inactive')
          div(class='candidate-name')
            h3 Carly Fiorina
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-gilmore-position inactive')
          div(class='candidate-name')
            h3 Jim Gilmore
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position lindsey-graham-position inactive')
          div(class='candidate-name')
            h3 Lindsey Graham
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position mike-huckabee-position inactive')
          div(class='candidate-name')
            h3 Mike Huckabee
          div(class='candidate-position-text')
            p Eliminates all other taxes. Creates a federal sales tax at a rate of 23%, with monthly rebates for low-income households. This proposal is often referred to as the FairTax, and is equivalent to a rate of 30% on the pre-tax price of goods and services.
        div(class='candidate-position bobby-jindal-position inactive')
          div(class='candidate-name')
            h3 Bobby Jindal
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position john-kasich-position inactive')
          div(class='candidate-name')
            h3 John Kasich
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position martin-omalley-position inactive')
          div(class='candidate-name')
            h3 Martin O'Malley
          div(class='candidate-position-text')
            p Establishes a financial transactions tax, at an unspecified rate.
            p Taxes carried interest at ordinary income rates
        div(class='candidate-position george-pataki-position inactive')
          div(class='candidate-name')
            h3 George Pataki
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rand-paul-position')
          div(class='candidate-name')
            h3 Rand Paul
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position rick-perry-position inactive')
          div(class='candidate-name')
            h3 Rick Perry
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position marco-rubio-position')
          div(class='candidate-name')
            h3 Marco Rubio
          div(class='candidate-position-text')
            p Eliminates the head of household filing status. Removes interest income from the tax base, except for interest received by financial institutions.
        div(class='candidate-position bernie-sanders-position')
          div(class='candidate-name')
            h3 Bernie Sanders
          div(class='candidate-position-text')
            p Establishes a financial transactions tax, at a rate between 0.005% and 0.5%, with an offsetting credit for low-income Americans.
            p Taxes carried interest at ordinary income rates.
        div(class='candidate-position rick-santorum-position inactive')
          div(class='candidate-name')
            h3 Rick Santorum
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position donald-trump-position inactive')
          div(class='candidate-name')
            h3 Donald Trump
          div(class='candidate-position-text')
            p Taxes carried interest at ordinary income rates.
        div(class='candidate-position scott-walker-position inactive')
          div(class='candidate-name')
            h3 Scott Walker
          div(class='candidate-position-text')
            p No specific proposal.
        div(class='candidate-position jim-webb-position inactive')
          div(class='candidate-name')
            h3 Jim Webb
          div(class='candidate-position-text')
            p No specific proposal.
    tr
      td(colspan='2' class='table-notes')
        p This chart includes every concrete tax proposal offered by presidential candidates since January 1st, 2015. It does not include tax policy proposals relating to healthcare, the environment, and other policy areas which do not alter major structural features of the tax code.
        p To read more about the different issues listed in this chart, #[a(href='http://taxfoundation.org/blog/every-tax-policy-proposal-2016-presidential-candidates-one-chart') read this post].
