@import 'reset';

$background-color: #fff;
$tf-blue: #0094ff;
$text-color: rgba(0, 0, 0, .8);
$table-border: #ddd;

.tax-plans-tool {
  background: $background-color;
  color: $text-color;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 50px 20px 0;

  p {
    margin: 0 0 10px;
  }

  strong {
    font-weight: 700;
  }

  h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
  }

  .category-title {
    font-size: 22px;
    line-height: 26px;
    margin: 10px 0 0;

    .toggle {
      color: $tf-blue;
      cursor: pointer;
      display: inline-block;
      margin: 0 0 0 10px;
      transition: transform .2s;
    }
  }

  table {
    border: solid $table-border 1px;
    border-collapse: separate;
    border-left: 0;
    border-radius: 4px;
    margin: 25px auto;
    width: 100%;
  }

  td,
  th {
    border-left: 1px solid $table-border;
    border-top: 1px solid $table-border;
    padding: 10px 15px 0;

    h2,
    h3 {
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
    }
  }

  th {
    border-top: 0;
    font-weight: 700;
  }

  th:first-child {
    border-radius: 4px 0 0;
  }

  th:last-child {
    border-radius: 0 4px 0 0;
  }

  th:only-child {
    border-radius: 4px 4px 0 0;
  }

  tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
  }

  tr:last-child td:last-child {
    border-radius: 0 0 4px;
  }
}

.candidate-list {
  border: solid $table-border 1px;
  border-radius: 4px;
  list-style: none;
  max-height: 1000px;
  opacity: 1;
  padding: 5px;
  transition: max-height .2s, opacity .2s, padding .2s;

  li {
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin: 5px;
    padding: 5px 5px 3px;

    &::before {
      background-repeat: no-repeat;
      background-size: 100%;
      content: '';
      display: block;
      height: 40px;
      margin: 0 auto;
      width: 40px;
    }

    &.active {
      background-color: $tf-blue;
      color: $background-color;
    }
  }
}

.issues-list {
  border: solid $table-border 1px;
  border-radius: 4px;
  list-style: none;
  max-height: 1000px;
  opacity: 1;
  padding: 5px;
  transition: max-height .2s, opacity .2s, padding .2s;

  li {
    display: block;

    .individual-taxes::before {
      border-bottom: solid 1px $table-border;
      content: 'Individual Taxes: ';
      display: block;
      margin: 0 15px 0 0;
    }

    .corporate-taxes::before {
      border-bottom: solid 1px $table-border;
      content: 'Corporate Taxes: ';
      display: block;
      margin: 0 15px 0 0;
    }

    .other-taxes::before {
      border-bottom: solid 1px $table-border;
      content: 'Other Taxes: ';
      display: block;
      margin: 0 15px 0 0;
    }

    li {
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-weight: 700;
      margin: 5px;
      padding: 3px;

      &.active {
        background-color: $tf-blue;
        color: $background-color;
      }
    }
  }
}

.candidate-name {
  margin: 0 0 15px;
}

.candidate-position {
  border-bottom: solid 1px $table-border;
  margin: 1px 0 -1px;
  max-height: 500px;
  opacity: 1;
  padding: 7px 0 0;
  transition: max-height .2s, opacity .2s, padding .1s;

  @media (min-width: 500px) {
    h3::before {
      background-repeat: no-repeat;
      background-size: 100%;
      content: '';
      display: inline-block;
      height: 40px;
      margin: 0 10px -12px 0;
      width: 40px;
    }
  }

  @media (max-width: 499px) {
    h3 {
      text-align: center;
    }

    h3::before {
      background-repeat: no-repeat;
      background-size: 100%;
      content: '';
      display: block;
      height: 40px;
      margin: 0 auto;
      width: 40px;
    }
  }
}

.inactive {
  border: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
}

.row-inactive {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

#jeb-bush::before,
.jeb-bush-position h3::before {
  background-image: url('images/Jeb_Bush.png');
}

#ben-carson::before,
.ben-carson-position h3::before {
  background-image: url('images/Ben_Carson.png');
}

#lincoln-chafee::before,
.lincoln-chafee-position h3::before {
  background-image: url('images/Lincoln_Chafee.png');
}

#chris-christie::before,
.chris-christie-position h3::before {
  background-image: url('images/Chris_Christie.png');
}

#hillary-clinton::before,
.hillary-clinton-position h3::before {
  background-image: url('images/Hillary_Clinton.png');
}

#ted-cruz::before,
.ted-cruz-position h3::before {
  background-image: url('images/Ted_Cruz.png');
}

#carly-fiorina::before,
.carly-fiorina-position h3::before {
  background-image: url('images/Carly_Fiorina.png');
}

#jim-gilmore::before,
.jim-gilmore-position h3::before {
  background-image: url('images/Jim_Gilmore.png');
}

#lindsey-graham::before,
.lindsey-graham-position h3::before {
  background-image: url('images/Lindsey_Graham.png');
}

#mike-huckabee::before,
.mike-huckabee-position h3::before {
  background-image: url('images/Mike_Huckabee.png');
}

#bobby-jindal::before,
.bobby-jindal-position h3::before {
  background-image: url('images/Bobby_Jindal.png');
}

#john-kasich::before,
.john-kasich-position h3::before {
  background-image: url('images/John_Kasich.png');
}

#martin-omalley::before,
.martin-omalley-position h3::before {
  background-image: url('images/Martin_OMalley.png');
}

#george-pataki::before,
.george-pataki-position h3::before {
  background-image: url('images/George_Pataki.png');
}

#rand-paul::before,
.rand-paul-position h3::before {
  background-image: url('images/Rand_Paul.png');
}

#rick-perry::before,
.rick-perry-position h3::before {
  background-image: url('images/Rick_Perry.png');
}

#marco-rubio::before,
.marco-rubio-position h3::before {
  background-image: url('images/Marco_Rubio.png');
}

#bernie-sanders::before,
.bernie-sanders-position h3::before {
  background-image: url('images/Bernie_Sanders.png');
}

#rick-santorum::before,
.rick-santorum-position h3::before {
  background-image: url('images/Rick_Santorum.png');
}

#donald-trump::before,
.donald-trump-position h3::before {
  background-image: url('images/Donald_Trump.png');
}

#scott-walker::before,
.scott-walker-position h3::before {
  background-image: url('images/Scott_Walker.png');
}

#jim-webb::before,
.jim-webb-position h3::before {
  background-image: url('images/Jim_Webb.png');
}
